#home{
  background-color: #222A31 !important;
}

.myBtn{
  background-color: #ffaf02;
  border-radius: 25px;
  padding: 0.7rem;
  color: white;
  font-weight: 550;
}

.myBtn:hover{
  background-color: #a77201;
}

.myBg{
  background-color: #354452;
}

input::placeholder{
  color: rgba(255, 255, 255, 0.164);
}

input:focus{
  color: white;
}
