<div class="container-fluid px-4" id="home">
  <div class="row justify-content-center">
    <div class="col-12 col-md-5 my-5 myBg rounded-3 shadow-lg" id="boh">
      <h1 class="mt-3 mb-5 text-center text-white">Lista utenti</h1>
      <div class="row">
        <div class="col-12 px-4">
          <div
            class="card mb-3 myBg border border-1 border-white shadow-sm"
            *ngFor="let u of usersArr"
          >
            <div class="row align-items-center g-0">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="fs-2 text-white">{{ u.name }}</h5>
                  <p class="text-white">{{ u.email }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
