<nav class="navbar navbar-expand-lg bg-body-tertiary" id="nav">
  <div class="container-fluid">
    <a *ngIf="!isLoggedIn" class="navbar-brand text-white" routerLink=""
      >MovieBox</a
    >
    <a
      *ngIf="isLoggedIn"
      class="navbar-brand text-white"
      routerLink="/dashboard"
      >MovieBox</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a
            class="nav-link active text-white"
            aria-current="page"
            routerLink="/auth/login"
            >Login</a
          >
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link text-white" routerLink="/auth/register"
            >Register</a
          >
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link text-white" routerLink="/dashboard">Dashboard</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link text-white" routerLink="/dashboard/users">Users</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link text-white" routerLink="/dashboard/newmovie"
            >New Movie</a
          >
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link text-white" routerLink="/dashboard/favourites"
            >Favourites</a
          >
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link text-white" routerLink="/dashboard/profile"
            >Profile</a
          >
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <button (click)="logout()" class="nav-link text-white">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
