#home{
  background-color: #222A31 !important;
}

.myBtn{
  background-color: #ffaf02;
  border-radius: 25px;
  padding: 0.7rem;
  color: white;
  font-weight: 550;
}

.myBtn:hover{
  background-color: #a77201;
}

.myBtnTwo{
  background-color: #FF4250;
  border-radius: 25px;
  padding: 0.7rem;
  color: white;
  font-weight: 550;
}

.myBtnTwo:hover{
  background-color: #a12a32;
}


.myBg{
  background-color: #354452;
}
